<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <td>Name</td>
                <td>Number</td>
                <td>Number of receipts</td>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
