<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number of receipts</td>
                </tr>
            </thead>
            <tbody>
                <ol>
                    {% for expenses in expense_list %}
                    <tr>
                        <td>{{ expenses.name }}</td>
                        <td>{{ expenses.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </ol>
            </tbody>
        </table>
    </main>
</body>

</html>
