<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'category_list' %}">Categories</a></li>
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <td>Vendor</td>
                    <td>Total</td>
                    <td>Tax</td>
                    <td>Date</td>
                    <td>Category</td>
                    <td>Account</td>
                </tr>
            </thead>
            <tbody>
                {% for item in receipt_list %}
                <tr>
                    <td>{{ item.vendor }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.tax }}</td>
                    <td>{{ item.date|date:"m/d/y"}}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
